@model StudentApplicationMVC.Models.StudentDetails

@{
    ViewData["Title"] = "UserProfile";
}

<h1>UserProfile</h1>

<div>
    <h4>StudentDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccessLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccessLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPhoto)
        </dt>
        <dd class="col-sm-10">
           <img src="@("~/ApplicationImages/StudentImage/"+Model.StudentPhoto)" asp-append-version="true" width="300px"/>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="HomeScreen">Back to List</a>
</div>
