@model StudentApplicationMVC.Models.StudentDetails

@{
    ViewData["Title"] = "UserProfile";
}

<h1>  @Html.DisplayFor(model => model.Username)</h1>


<div class="card-deck row card-group col-md-12">
    <div class="card m-3 col-6" style="min-height:20.00%;min-width:10rem">
        <img class="card-img-top" src="@("~/ApplicationImages/StudentImage/"+ Model.StudentPhoto)" asp-append-version="true" width="300px" />
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    Full Name:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)  @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Username)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Username)
                </dd>
                <dt class="col-sm-3">
                    StudentID
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StudentNumber)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.AccessLevel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AccessLevel)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <a asp-action="HomeScreen" asp-controller="Main">Go Back</a>
</div>