@model StudentApplicationMVC.Models.UnitDetails

@{
    ViewData["Title"] = "GetUnitDetials";
}

<h1>GetUnitDetials</h1>

<div>
    <h4>UnitDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Campus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Campus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers)
        </dt>
  
    </dl>
</div>
<div>
    <a asp-action="HomeScreen">Back to List</a>
</div>
