@model StudentApplicationMVC.Models.AddUnitDetails

@{
    ViewData["Title"] ="List of units";
}
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assignment1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assignment2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitOutline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitOutline)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
