@model IEnumerable<StudentApplicationMVC.Models.UnitDetails>

@{
    ViewData["Title"] = "HomeScreen";
}

<h1>HomeScreen</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teachers.FirstName)  @Html.DisplayFor(modelItem => item.Teachers.LastName)
            </td>
            <td>
                <a asp-action="GetUnitDetials" asp-route-id="@item.UnitDetailsID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
